# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VSCode settings
.vscode/

# Environment variables file
.env

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/
*.egg-info/

# Cache files
*.cache
*.pytest_cache/
